body {
  text-align: center;
  background: linear-gradient(#001d32, #000000);
  font-family: 'Times New Roman', Times, serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  width: 100vw;
  height: 300px;
  border: none;
  z-index: 0;
  filter: brightness(50%);
  transition: filter 0.2s linear;
}

.map:hover {
  filter: brightness(100%);
}

#location {
  width: 50vw;
  font-family: Muli, sans-serif;
  margin: 50px;
}

#location h2 {
  color:#f7540b;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
}

#location p {
  color: #bebebf;
  font-size: 14px;
  line-height: 1.43;
}

header {
  display: flex;
  flex-direction: row;
  max-height: 13vh;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  background-color: #001d32;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 12px;
  width: 100vw;
}

#ytplayer {
  pointer-events: none;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 30%;
  margin-top: 2%;
}

header h2 {
  opacity: 76%;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

header img {
  height: auto;
  width: 13vw;
  margin: 0px 30px 0px 40px;
}

.social {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1% 1% 0% 0%;
}

.social > img {
  opacity: 76%;
  width: auto;
  margin: 0;
  height: 12px;
  margin: 0px 10px 0px 10px;
}

.menu {
  background: rgb(0,29,50);
  background-image: linear-gradient(to bottom, #001c32, #01192d, #021728, #011323, #00101e);
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.menu-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu-section-header > .margin-bottom {
  border-bottom: 1.5px solid #64b5bf;
  min-width: 35%;
  position: relative;
  top: -48px;
}

.margin-bottom.left {
  right: -45px;
}

.margin-bottom.right {
  left: -45px;
}

.menu-section-header > h1 {
  color: #64b5bf;
  opacity: 60%;
  text-transform: uppercase;
  font-size: 40px;
}

.menu-section > h3 {
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  color: #f3d1c8;
  margin-top: 1.3%;
  font-weight: bold;
  letter-spacing: 1.26px;
  font-family: Muli, sans-serif;
}

.leaf1 {
  height: auto;
  width: 13vw;
  opacity: 30%;
  transform: rotate(60deg);
  position: absolute;
  left: 0;
}

.leaf2 {
  position: absolute;
  right: 0;
  opacity: 30%; 
  height: auto;
  width: 10vw;
  transform: rotate(-15deg);
}

.leaf3 {
  position: absolute;
  left: 0;
  opacity: 30%; 
  height: auto;
  width: 18vw;
  transform: rotate(32deg);
}

.midday-menu-grid-wrapper {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;  
  color: #f3d1c8;
  margin-top: -2.5%;
}

.menuitem > .menu-item-title {
  font-size: 20px;
  letter-spacing: 1.05px;
  font-weight: bold;
  font-family: Muli, sans-serif;
  margin-bottom: 1%;
}

.menuitem > .menu-item-desc {
  font-family: Muli, sans-serif;
  font-size: 16px;
  letter-spacing: 1.05px;
}

.menuitem > .menu-item-price {
  font-family: Muli, sans-serif;
  font-size: 16px;
  letter-spacing: 1.05px;
}

.menuitem1 { max-width: 60%; grid-area: 1 / 1 / 2 / 2; }
.menuitem2 { max-width: 60%; grid-area: 1 / 2 / 2 / 3; }
.menuitem3 { max-width: 60%; grid-area: 1 / 3 / 2 / 4; }
.menuitem4 { max-width: 60%; grid-area: 2 / 1 / 3 / 2; }
.menuitem5 { max-width: 60%; grid-area: 2 / 2 / 3 / 3; }
.menuitem6 { max-width: 60%; grid-area: 2 / 3 / 3 / 4; }
.menuitem7 { max-width: 60%; grid-area: 3 / 1 / 4 / 2; }
.menuitem8 { max-width: 60%; grid-area: 3 / 2 / 4 / 3; }
.menuitem9 { max-width: 60%; grid-area: 3 / 3 / 4 / 4; }

#ytplayer {
  width: 100vw;
  height: 56.25vw;/* 16:9 */
}

#video {
  position: relative;
}

#video-text {
  position: absolute;
  z-index: 1;
  color: white;
  top:20%;
  left:10%;
  width: 40%;
  max-height: 80%;
  text-align: left;
}

#video-text h1 {
  font-family: "Times New Roman", serif;
  font-size: 42px;
  line-height: 45px;
}

#video-text p {
  font-family: "Muli",sans-serif;
  font-size:18px;
  font-weight: 300;
  line-height: 30px;
}

#video-text button {
  background-color: #ffa400;
  color: white;
  opacity: 87%;
  font-size: 12px;
  width:200px;
  height:40px;
  border:1px solid white;
  border-radius:14px;
  font-family: Muli,sans-serif;
  margin:10px 0;
  transition: filter 0.2s linear;
}

button:hover {
  filter: saturate(130%);
}

/* INFO BAR */

.infobar {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: #4c0610;
  box-shadow: 0 9px 18px 0 black;
  padding: 60px 0;
  width: 100%;
}

.infobar-hours {
  border-right: 2px solid #ffa400;
  border-left: 2px solid #ffa400;
  padding: 0 7% 0 7%;
}

.infobar-h3 {
  font-family: Muli;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.infobar-pn {
  font-family: Muli;
  font-size: 24px;
  font-weight: 650;
}

.infobar-title {
  font-family: Muli;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #64b5bf;
}

.icon-fa {
  color: #64b5bf;
  font-size: 1.5rem;
  
}

/* ABOUT */

.about-aside {
  font-family: Muli;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: #8b8b8b;
  padding-bottom: 20px;
}

.about-title {
  font-family: TimesNewRomanPS-MT;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: center;
  color: #ffa400;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.about-body {
  color: #bebebf;
  font-family: Muli;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.about-section {
  padding: 60px 0px;
}

/* GALLERY  */

.gallery-section {
  background-color: #64b5bf;
  padding: 40px 20px;
}

.gallery-title {
  font-family: TimesNewRomanPS-MT;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: center;
  color: #4c0610;
}

.gallery-body {
  font-family: Muli;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #464646;
  width: 60%;
  margin: 0 auto;
}

/* GALLERY GRID */

.galleryGrid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
}
.div2 {
  grid-area: 3 / 1 / 4 / 2;
}
.div3 {
  grid-area: 4 / 1 / 5 / 2;
}
.div4 {
  grid-area: 1 / 2 / 2 / 3;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}
.div6 {
  grid-area: 3 / 2 / 4 / 3;
}
.div7 {
  grid-area: 4 / 2 / 5 / 3;
}
.div8 {
  grid-area: 1 / 3 / 2 / 4;
}
.div9 {
  grid-area: 2 / 3 / 4 / 4;
}
.div10 {
  grid-area: 4 / 3 / 5 / 4;
}

.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9{
  position: relative;
}


.gallery-img {
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.gallery-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.div2:hover .gallery-img {
  opacity: .3;
  background-color: black;
}
.div2:hover .gallery-text {
  opacity: 1;
}

.div1:hover .gallery-img {
  opacity: .3;
  background-color: black;
}
.div1:hover .gallery-text {
  opacity: 1;
}

.div3:hover .gallery-img {
  opacity: .3;
  background-color: black;
}
.div3:hover .gallery-text {
  opacity: 1;
}

.div4:hover .gallery-img {
  opacity: .3;
  background-color: black;
}
.div4:hover .gallery-text {
  opacity: 1;
}

.div5:hover .gallery-img {
  opacity: .3;
  background-color: black;
}
.div5:hover .gallery-text {
  opacity: 1;
}

.div6:hover .gallery-img {
  opacity: .3;
  background-color: black;
}
.div6:hover .gallery-text {
  opacity: 1;
}

.div7:hover .gallery-img {
  opacity: .3;
  background-color: black;
}
.div7:hover .gallery-text {
  opacity: 1;
}

.div8:hover .gallery-img {
  opacity: .3;
  background-color: black;
}
.div8:hover .gallery-text {
  opacity: 1;
}

.div9:hover .gallery-img {
  opacity: .3;
  background-color: black;
}
.div9:hover .gallery-text {
  opacity: 1;
}

.div10:hover .gallery-img {
  opacity: .3;
  background-color: black;
}
.div10:hover .gallery-text {
  opacity: 1;
}

.text {
  /* background-color: #4CAF50; */
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.grid-wrapper {
  padding: 60px 60px;
  background-color: #4c0610;
  box-shadow: 0 9px 18px 0 black;
}